// @import 'reset';

// devices
$mobile-width: 425px;
$tablet-width: 769px;

// spacing
$default-padding-small: 10px;
$default-padding-large: 20px;
$logo-height: 90px;
$logo-height-small: 70px;

// fonts
$main-font-style: "Roboto", sans-serif;
$title-text: 14px;
$main-text: 12px;

$modal-title-text-size: 20px;
$modal-text-size: 15px;

// colors
$topbar-text-color: #32649b;
$kpk-primary-color: #f29200;

// margins
$topbar-margin: 40px;
$modal-margin: 40px 40px;

// shadows
$boxes-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
$boxes-shadow-hover: 0px 9px 15px rgba(0, 0, 0, 0.08);

// buttons
$modal-border-radius: 12px;
$button-border-radius: 18px;

// breakpoints
$small-screen: 950px;

body {
  background: #f9f9f9;
}

@mixin general-flex {
  display: flex;
  align-items: center;
}

@mixin navbar {
  @include general-flex;

  width: 100%;
  position: fixed;
  background: white;
  height: $topbar-margin;
  // justify-content: center;
}

@mixin default-button {
  @include general-flex;

  justify-content: center;
  padding: 15px;
  margin: 0 15px;
  border-radius: $button-border-radius;
  background: $kpk-primary-color;
  color: white;
  min-width: 90px;
  box-shadow: $boxes-shadow;
  cursor: pointer;

  &:hover {
    box-shadow: $boxes-shadow-hover;
  }
}

@mixin data-holder {
  margin: 20px 0;

  input, textarea {
    width: 40%;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px 15px;
  }
  input:focus {
    outline: none !important;
    border-color: grey;
  }
}
